ul.nav{
  margin:0;
  padding:0;

}
ul.nav li{
  list-style-type:none;
  dispaly:inline;
  width: 100%
}
ul.nav li a{
  float:right;
  border:0
  width:6em
  
  color:white;
  text-align: center;
  padding: 0 0.2em 0.2em 0;
  text-decoration:none
}

/*a{
  display:block;
  padding:8px;
  background-color:black
}*/
.nav{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  
}
.nav{
  display:flex;
  flex-direction:row;
  align-items: flex-end;
  justify-content:flex-start;
}
h1{
  font-family:'Nova Slim', cursive;
  font-size:2em;
  color:#F00D0D;
}
h2{
  font-size: 6em;
  text-align:center;
  font-family: 'Nova Slim', cursive;
  color:#F00D0D
}
body{
  background-image:url();
}
h3{
  font-family:'Lato', sans-serif;
  color:white;
  font-size:20px;
  text-align:center;
}
h4{
  color:white;
  font-size:1em;
  font-family: 'Lato', sans-serif;
  text-align:center;
}

#logo {
  color: red;
  background-color: black;
  text-decoration: none;
  display:inline;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 20vw;
}

.navbar_direita {
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: black;
}